<div>
  <h1>Welcome</h1>
  <div class="search-wrapper">
    <form [formGroup]="mySearch" (ngSubmit)="onSearch()" >
        <input formControlName="search"  type="text" placeholder="Search artists name" class="search"/>
        <button class="search-button" type="submit">Search</button>
    </form>
  </div>
  <div class="top-artists-wrapper">
      <app-card-holder title="My top artist" [items] = "topItems" [canNavigate]="true">
      </app-card-holder>
  </div>

  <div class="top-artists-wrapper">
      <app-card-holder title="My playlists" [items] = "playlists" [canNavigate]="false">
      </app-card-holder>
  </div>
</div>
